h1{
  text-align: center; font-size: 100px; color:#f60069
}
p{
text-align: center; font-size: 50px;color: #294380
}
#chanel01{
  width: 30%
  }
#pradanylon{
  width: 30%
  }
  #dior{
    width: 30%
  }
  #fendi{
    width: 30%
  }
  #celine{
    width: 40%
  }
  #gucci{
    width: 30%
  }
  .produtos {
      width: 940px;
      margin: 0 auto;
      padding: 50px 0;
  }

  .produtos{
      display: inline-block;
      text-align: center;
      width: 70%;
      vertical-align: top;
      margin-left: 15%;
      padding: 30px 20px;
      box-sizing: border-box;
  }

  .produtos{
      font-size: 30px;
      font-weight: bold;
  }

  .produto-descricao {
      font-size: 18px;
  }

  .produto-preco {
      font-size: 22px;
      font-weight: bold;
      margin-top: 10px;
  }
